In [2]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

In [3]:
df = pd.read_html('https://fbref.com/en/comps/12/La-Liga-Stats#all_stats_squads_gca', attrs={'id': "stats_squads_shooting_for"})[0]

In [4]:
df.to_csv("LaLiga_Shooting.csv", index=False, encoding='utf-8')

In [6]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard          \
               Squad               # Pl                90s      Gls  Sh SoT
0             Alavés                 20                3.0        3  30  10
1      Athletic Club                 19                3.0        5  38  11
2    Atlético Madrid                 19                3.0        3  43  16
3          Barcelona                 20                3.0        6  61  20
4              Betis                 20                4.0        4  44  12

                                                    Expected               \
   SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist FK PK PKatt       xG npxG npxG/Sh
0  33.3  10.00   3.33  0.07  0.20  17.8  1  1     1      3.3  2.5    0.08
1  28.9  12.67   3.67  0.08  0.27  18.8  0  2     2      5.4  3.9    0.10
2  37.2  14.33   5.33  0.07  0.19  17.6  1  0     0      3.9  3.9    0.09
3  32.8  20.33   6.67  0.08  0.25  18.4  2  1     1      5.8  5.0    0.08
4  27.3  11.00   3.00  0.09  0.33  18.4  2  0     0      4.7  4.7    0.11


  G-xG np:G-xG
0 -0.3    -0.5
1 -0.4    -0.9
2 -0.9    -0.9
3  0.2     0.0
4 -0.7    -0.7